@{
    ViewBag.Title = "Reverser";
}

<div class="row">
    <div class="col-md-12">
        <h1>Dice Game</h1>
        <div>
            <p>Uppgiften är att bygga ett tärningsspel där man kan:</p>
            <ul>
                <li>Rulla en tärning och får ett resultat</li>
                <li>Gissa om nästa kast är högre eller lägre än föregående kast</li>
                <li>Gissar man rätt så får man en poäng och spelet ska hålla koll på hur många poäng man får</li>
                <li>Spelet tar slut när man gissar fel. Då ska poängen visas</li>
            </ul>
        </div>
        <pre><code class="cs">//Potentiella komponenter...
public class Game
{
}
            
public class Dice : ...
</code></pre>

    </div>

</div>