@{
    ViewBag.Title = "Painter";
}

<div class="row">
    <div class="col-md-12">
        <h1>Painter</h1>
        <div>
            <p>Uppgiften är att bygga stöd för det nyetablerade företaget FFCG Painter. I måleriet ska man kunna:</p>
            <ul>
                <li>Måla en bil i önskad färg</li>
                <li>Måla en buss i önskad färg</li>
                <li>Måla ett tåg i önskad färg</li>
                <li>Måla ett flygplan i önskad färg</li>
                <li>Vara beredd på att expandera då våra analyser säger att kundbasen för företag som målar fordon kommer öka rejält</li>
            </ul>
        </div>
        <pre><code class="cs">//Potentiella komponenter...

//using System.Drawing; <- innehåller klassen Color

public class Painter
{
    public void Paint(..., Color color)
}
            
public class Car : ...
</code></pre>

    </div>

</div>