@{
    ViewBag.Title = "Poker Game!";
}

<div class="row">
    <div class="col-md-12">
        <h1>Poker Game!</h1>
        <div>
            <ul>
                <li>En klassisk kortlek</li>
                <li>Ska kunna blandas</li>
                <li>Ska kunna dela ut händer (5 kort)</li>
                <li>Händerna ska kunna inspekteras efter mönster (färg etc)</li>
                <li>När alla kort är slut ska den blandas om</li>
                <li>Händer ska delas ut till någon får en straight flush</li>
                <li>Antal händer som delades ut ska räknas</li>
            </ul>
        </div>
        <pre><code class="cs">//Potentiella komponenter...

public enum Suit
{
    Hearts,
    Clubs,
    Diamonds,
    Spades
}
</code></pre>

    </div>

</div>