@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Uppgifter</h2>
        <ul>
            <li>
                @Html.ActionLink("Reverser", "Index", "Reverser")
            </li>
            <li>
                @Html.ActionLink("Dice Game", "Index", "DiceGame")
            </li>
        </ul>
    </div>
</div>